pepExtractor.prj
adder_vhdl.prj
_xmsgs/xst.xmsgs
xst/work/sub00/vhpl17.vho
procesador2_top_summary.html
*.xrpt
*.lso
iseconfig/ALU.xreport
*.html
*.xmsgs
*.cmd_log
*.vho
*.ref
*.prj
*.ngr
*.cmd
iseconfig/arquitectura.projectmgr
*.xreport
webtalk_pn.xml
*.xise
arquitectura.gise
*.syr
tb_unidadControl_isim_beh1.wdb
*.xst
procesador2_top.ngc
*.stx