pepExtractor.prj
adder_vhdl.prj
_xmsgs/xst.xmsgs
xst/work/sub00/vhpl17.vho
procesador2_top_summary.html
*.xrpt
*.lso
iseconfig/ALU.xreport
*.html
*.xmsgs
*.cmd_log
*.vho
*.ref
*.prj
*.ngr
*.cmd
iseconfig/arquitectura.projectmgr
*.xreport
webtalk_pn.xml
*.xise
arquitectura.gise
*.syr
tb_unidadControl_isim_beh1.wdb
*.xst
procesador2_top.ngc
*.stx
*.log
isim/pn_info
*.c
*.didat
isim/precompiled.exe.sim/ieee/p_2592010699.nt64.obj
*.obj
isim/tb_procesador2_top_isim_beh.exe.sim/ISimEngine-DesignHierarchy.dbg
*.dll
isim/tb_procesador2_top_isim_beh.exe.sim/netId.dat
*.exe
*.vdb
isim/tb_procesador2_top_isim_beh.exe.sim/tmp_save/_1
*.ini
*.wdb